.gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }

.gallery > :hover {
    transition: all ease 0.5s;
    /* cursor: pointer; */
}

.gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* This will create 2x images every 4 elements */
.gallery > :nth-child(4n) {
    grid-column: span 2; /* Spans two columns */
    grid-row: span 2; /* Spans two rows */
  }

.orange-gradient {
    background-image: linear-gradient(
        350deg,
        hsl(0deg 0% 100%) 1%,
        hsl(17deg 90% 89%) 58%,
        hsl(17deg 81% 78%) 76%,
        hsl(17deg 73% 66%) 87%,
        hsl(17deg 67% 54%) 95%,
        hsl(18deg 96% 39%) 100%
    );
}

.info-container {
    grid-column: span 2;
    grid-row: span 3;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 2px solid #ad5434;
    border-radius: 0.75em;
    text-align: left;
}

.registry-container {
    grid-column: span 1;
    grid-row: span 1;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.button {
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #758A90;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9CB8BF;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #758A90, 0 0.625em 0 0 #E7EEEF;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button:hover {
    transform: translate(0, 0.25em);
}

.button:hover::before {
    box-shadow: 0 0 0 2px #758A90, 0 0.5em 0 0 #E7EEEF;
    transform: translate3d(0, 0.5em, -1em);
}

.button:active {
    transform: translate(0em, 0.75em);
}

.button:active::before {
    box-shadow: 0 0 0 2px #758A90, 0 0 #E7EEEF;
        transform: translate3d(0, 0, -1em);
}

.rsvp-button {
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #520014;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.rsvp-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #A9808A;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #520014, 0 0.625em 0 0 #D4C0C5;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.rsvp-button:hover {
    transform: translate(0, 0.25em);
}

.rsvp-button:hover::before {
    box-shadow: 0 0 0 2px #520014, 0 0.5em 0 0 #D4C0C5;
    transform: translate3d(0, 0.5em, -1em);
}

.rsvp-button:active {
    transform: translate(0em, 0.75em);
}

.rsvp-button:active::before {
    box-shadow: 0 0 0 2px #520014, 0 0 #D4C0C5;
        transform: translate3d(0, 0, -1em);
}

.title-text {
    font-size: 30px;
    margin: 0;
    padding-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.kiwi-ziti-icon {
    height: 300px;
    width: 100%;
}

.eucalyptus-container {
    flex: 1;

}

#rsvp-text {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .gallery > .info-container {
        grid-column: span 2;
    }
    .gallery > .registry-container {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media only screen and (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 0.75rem;
    }
}